
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: white;
    --foreground: black;
  }

  html, body, button, label, input, select, textarea {
    @apply text-black bg-back;
    font-family: "Roboto", system-ui, sans-serif;
  }

  img {
    @apply w-full box-border;
  }

  /* Firefox */

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--foreground) var(--background);
  }

  /* Chrome, Edge, and Safari */

  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: var(--background);
    border-radius: 3px;
  }

  *::-webkit-scrollbar-thumb {
    background: var(--foreground);
    border-radius: 3px;
  }
}
